body {
    font-family: 'Lato', sans-serif;
    color: darkslategray;
    background-color: papayawhip;
}
.wrapper {
    display: grid;
    text-align: center;
    grid-template-rows: repeat (6, 1fr);
    grid-template-columns: 1fr;
}
.container1 {
    background-color: thistle;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.nav {
    float: right;
}
.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li {
    display: inline-block;
    margin-left: 60px;
    margin-right: 10px;
    padding-top: 15px;
    font-weight: bold;
}
.li1:hover {
    text-decoration: underline;
}
.li2:hover {
    text-decoration: underline; 
}
.li3:hover {
    text-decoration: underline;
}
.li4:hover {
    text-decoration: underline;
}
.image1 {
    height: 200px;
    width: 160px;
    float: right;
    padding: 10px;
}
.paragraph {
    font-size: 20px;
}
.list2 {
    list-style-type: none;
    text-align: left;
    margin-left: 60px;
}
.grid2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: peachpuff;
}
.grid3 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-color: peachpuff;
}
.grid4 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    background-color: peachpuff;
}
.grid5 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    background-color: peachpuff;
    margin: 40px;
}
.center {
    display: flex;
    justify-content: center;
}
.footer {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    background-color: peachpuff;
}
.image2 {
    height: 200px;
    width: 300px;
    float: center;
    padding: 10px;
}
.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: peachpuff;
    font-weight: bold;
}
.flex1 {
    text-decoration: none;
    color: darkslategray;
}
.flex2 {
    text-decoration: none;
    color: darkslategray;
}
.flex3 {
    text-decoration: none;
    color: darkslategray;
}
.btn {
    text-decoration: none;
    color: darkslategray;
    font-weight: bold;
}
.flex1:hover {
    text-decoration: underline;
}
.flex2:hover {
    text-decoration: underline;
}
.flex3:hover {
    text-decoration: underline;
}
.btn:hover {
    text-decoration: underline;
}
@media only screen and (min-width: 768px) {
    .image1 {
        height: auto;
        width: 15%;
        float: right;
        padding: 10px;
    }
    .list2 {
        list-style-type: none;
        text-align: left;
    }
}
@media only screen and (min-width: 992px) {
    .image1 {
        height: 10%;
        width: 10%;
        float: right;
        padding: 10px;
    }
    .paragraph {
        font-size: 20px;
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 50px;
    }
    .list2 {
        list-style-type: none;
        text-align: left;
        margin-left: 560px;
    }
}