.main-headline {
    color: darkgreen;
    font-family: Georgia;
    text-align: center;
}
.sub-headline {
    font-family: Georgia;
    text-align: center;
}
div .paragraph {
    line-height: 25px;
}
#uppercase {
    text-transform: uppercase;
}
a {
    text-decoration: none;   
}
a:hover {
    text-decoration: underline;
}
.float-image {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}